<?xml version='1.0' encoding='utf-8'?>
<widget id="com.globalexpress.data"
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets">

    <name>Global Express</name>

    <description>
        Global Express Data App
    </description>

    <author email="support@globalexpress.com">
        Global Express
    </author>

    <content src="https://globalexpress-7bm1.onrender.com" />

    <!-- GlobalExpress App Icon -->
    <icon src="www/img/logo.png" />


    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

</widget>
